{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "legacyDecorators": true,
      "jsx": true
    }
  },
  "env": {
    "node": true
  },
  "plugins": ["react", "prettier"],
  "extends": [
    "prettier",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:import/recommended"
  ],
  "settings": { "react": { "version": "17" } },
  "rules": {
    "react/prop-types": ["warn"],
    "react/forbid-prop-types": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-fragments": ["off"],
    "semi": ["error", "always"],
    "quotes": ["error", "double"],
    "jsx-quotes": ["error", "prefer-double"],
    "comma-dangle": [
      "error",
      {
        "objects": "always",
        "arrays": "only-multiline",
        "imports": "never",
        "exports": "never",
        "functions": "never"
      }
    ],
    "no-undef": "error",
    "no-use-before-define": "off",
    "import/no-unresolved": "off"
  }
}
