/* alerts */

.alert {
  color: $light;
  opacity: 0.8;
  filter: alpha(opacity=30);
  border-radius: 3px;
  box-shadow: 0 9px 18px $body-bg;
  box-sizing: border-box;
}

.alert-success {
  background-color: shade-color($success, 30%);
  border: 1px solid $success;
}

.alert-info {
  background-color: shade-color($info, 45%);
  border: 1px solid $info;
}

.alert-secondary {
  background-color: shade-color($secondary, 45%);
  border: 1px solid $secondary;
}

.alert-warning {
  background-color: shade-color($warning, 40%);
  border: 1px solid $warning;
}

.alert-danger {
  background-color: shade-color($danger, 50%);
  border: 1px solid $danger;
}

.alert-light {
  color: $color-contrast-dark;
  background-color: $light;
  border: 1px solid $darker;
}

.alert-dark {
  background-color: shade-color($dark, 5%);
  border: 2px solid $dark;
}

.alert-accent-1 {
  background-color: shade-color($accent-1, 20%);
  border: 1px solid $accent-1;
}

.alert-accent-2 {
  background-color: shade-color($accent-2, 35%);
  border: 1px solid $accent-2;
}
