// Text

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $light;
}

pre {
  color: $color-contrast-light;
  background: $pre-bg;
}

mark {
  background: $dark-bluish-grey;
  color: $sev-high;
}

.text-larger {
  font-size: 95%;
}

.text-large {
  font-size: 150%;
}

.text-ul {
  text-decoration: underline;
}

.blurry-text {
  cursor: default;
  user-select: none;
  color: transparent;
  text-shadow: 0 0 10px #fff;
}

.text-gradient {
  color: $gradient-color-1 !important;
  background: $gradient;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a.text-gradient,
.btn.text-gradient {
  &:hover {
    opacity: 0.7;
    color: $gradient-color-1 !important;
    -webkit-text-fill-color: $gradient-color-1 !important;
  }
}

.standout {
  font-weight: $btn-font-weight;
  font-family: $btn-font-family;
}

// line spacing

@for $i from 1 through 5 {
  ._0#{$i} {
    letter-spacing: unquote($string: "0." + $i + "em");
  }
}
